# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
!.env.example

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Build files
/dist
/build
.output
.nuxt
.nitro
.cache
.temp

# Testing
/coverage
.nyc_output

# System files
Thumbs.db
.DS_Store
*.pem
